{
  "storage": {
    "type": "sftp",
    "config": {
      "path": "/home/adwin/kopia",
      "host": "outpost",
      "port": 22,
      "username": "adwin",
      "password": "",
      "keyfile": "/home/adwin/.ssh/id_ed25519",
      "knownHostsData": "outpost ecdsa-sha2-nistp256 $OUTPOST_SSH_HOST_KEY",
      "externalSSH": false,
      "sshCommand": "ssh",
      "dirShards": null
    }
  },
  "caching": {
    "cacheDirectory": "../../.cache/kopia/d99eed7bea7cf519",
    "maxCacheSize": 5242880000,
    "maxMetadataCacheSize": 5242880000,
    "maxListCacheDuration": 30
  },
  "hostname": "nas",
  "username": "adwin",
  "description": "Repository in SFTP adwin@outpost",
  "enableActions": false,
  "formatBlobCacheDuration": 900000000000
}
