{
  "storage": {
    "type": "rclone",
    "config": {
      "remotePath": "mega:/kopia",
      "atomicWrites": true,
      "dirShards": null
    }
  },
  "caching": {
    "cacheDirectory": "../../.cache/kopia/ee3344d83f145b61",
    "maxCacheSize": 5242880000,
    "maxMetadataCacheSize": 5242880000,
    "maxListCacheDuration": 30
  },
  "hostname": "nas",
  "username": "adwin",
  "description": "Repository in RClone mega:/kopia",
  "enableActions": false,
  "formatBlobCacheDuration": 900000000000
}
