[submodule "modules/vim/bundle/Vundle.vim"]
	path = modules/vim/bundle/Vundle.vim
	url = https://github.com/VundleVim/Vundle.vim.git
[submodule "modules/nvm"]
	path = modules/nvm
	url = https://github.com/lukechilds/zsh-nvm.git
