.DS_Store

vim/.vim/autoload
vim/.vim/plugged
vim/.vim/.netrwhist

neovim/.config/nvim/plugin

tmux/.tmux/plugins
tmux/.tmux/resurrect

btop/.config/btop/btop.log

lazygit/.config/lazygit/state.yml
lazygit/Library/Application Support/lazygit/state.yml

hammerspoon/.hammerspoon/hs
hammerspoon/.hammerspoon/Spoons/*
hammerspoon/.hammerspoon/configs/custom.lua
hammerspoon/.hammerspoon/libraries/*
!hammerspoon/.hammerspoon/libraries/hhtwm
!hammerspoon/.hammerspoon/libraries/init.lua

ranger/.config/ranger/plugins/*
!ranger/.config/ranger/plugins/z_jumper.py

sublime/Library/Application Support/Sublime Text 3/Installed Packages/*
sublime/Library/Application Support/Sublime Text 3/Local/*
sublime/Library/Application Support/Sublime Text 3/Packages/*
!sublime/Library/Application Support/Sublime Text 3/Packages/User

Brewfile.lock.json

nix-config/result
