.DS_Store

vim/.vim/autoload
vim/.vim/plugged
vim/.vim/.netrwhist

neovim/.config/nvim/plugin

tmux/.tmux/plugins
tmux/.tmux/resurrect

lazygit/.config/lazygit/state.yml

hammerspoon/.hammerspoon/hs
hammerspoon/.hammerspoon/libraries/*
!hammerspoon/.hammerspoon/libraries/hhtwm
!hammerspoon/.hammerspoon/libraries/init.lua

Brewfile.lock.json
